:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);

  --neutral-blue-900: hsl(212, 21%, 14%);
  --neutral-blue-400: hsl(228, 12%, 48%);

  --neutral-white: hsl(0, 0%, 100%);
}
